 # composer
/vendor
composer.lock
composer.phar

# node
/node_modules
package-lock.json

# phpstorm
.idea/*
!.idea/symfony2.xml
!.idea/misc.xml

# phpunit
.phpunit.result.cache
phpunit.xml
.php_cs.cache
/.phpunit

*.DS_Store

# contributing master
# contributing branch 0.1 tag 0.1.0 => 0.1.1
# contributing branch 0.1 tag  0.1.1 => 0.1.2